@import "tailwindcss";

@theme {
  --color-primary: #192639;
  --color-secundary: #142D53;
  --color-close: #DA0707;
  --color-color-placeholder: oklch(70.8% 0 0);

  --color-foto-perfil: #D9D9D9;

  --font-primary: 'Montserrat', sans-serif;

}